* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    /* margin: 20px; */
}

header {
    /* margin: 0 0 1px; */
    background-color: burlywood;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

/* p:first-child { */
.store-name {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
    max-width: 300px;
}

li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li a:hover {
    font-size: 16px;
    transition: 0, 5 ease-in-out;
}

li a:active {
    color: grey;
}

.content {
    display: flex;
    align-items: center;
    color: aliceblue;
}


div p {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px;
}

div button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
}

div svg {
    fill: #fff;
}